<section class="embed-responsive embed-responsive-21by9 margem">
  <canvas id='canvas' #canvas width="400" height="100"></canvas>
  <video #controlVideo id='controlVideo' class="embed-responsive-item" preload loop>
    <source src="{{urlVideo}}" type="video/mp4">
  </video>
  <audio #controlAudio id='controlAudio' preload>
    <source src="{{urlAudio}}" type="audio/mpeg">
  </audio>
</section>
<section class="margem">
  <nav aria-label="Index das videos">
      <ul class="pagination justify-content-center pagination-lg">
        <li class="page-item">
          <button [disabled]='id == 0' class="page-link" (click)='anterior()' [routerLink]="['']" >Previous</button>
        </li>
        <li class="page-item">
            <a class="page-link" [routerLink]="['']">
              <img class='icon' src="../../assets/open-iconic/svg/home.svg" alt="home">
            </a>
        </li>
        <li class="page-item">
            <button [disabled]='id == 9' class="page-link"  (click)='proximo()' [routerLink]="['']">Next</button>
        </li>
      </ul>
    </nav>
</section>